accelerate
auto-gptq --index-url https://huggingface.github.io/autogptq-index/whl/cu118
bitsandbytes
chromadb
cohere
#ctransformers
#llama-cpp-python
chainlit
gdown
faiss_cpu
faiss_gpu
#git+https://github.com/huggingface/peft.git
kaleido
hf_transfer
huggingface_hub
langchain
#langchain_experimental
markdown
openai
optimum
pinecone-client
pypdf
PyPDF2
pyngrok
#pytube
sentence_transformers
tiktoken
tokenizers
transformers
xformers
unstructured
watermark
#youtube-transcript-api
